.select {
  background-color: rgb(219, 219, 219, 0.7);
  border-radius: 20px;
  padding-bottom: 10px;
}

h2 {
  padding: 20px 0 0 0;
}

button {
  margin: 15px;
  width: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
  color: rgba(65, 105, 225, 0.7);
}
