@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html {
  height: 100vh;
  background-image: url('/src/images/baseball-bg-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  max-width: 1200px;
  margin: auto;
}
